{% extends 'root.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">
            <h4 class="text-blue h4">Update when available</h4>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label"></label>
            <div class="col-sm-12 col-md-10">
                {{form.educator}}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Date</label>
            <div class="col-sm-12 col-md-10">
                {{form.date}}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Start Time</label>
            <div class="col-sm-12 col-md-10">
                {{form.start_time}}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">End Time</label>
            <div class="col-sm-12 col-md-10">
                {{form.end_time}}
            </div>
        </div>
        {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
        <input class="btn btn-primary" type="submit" name="Submit">
    </form>
</div>

{% endblock content %}