{% extends 'root.html' %}
{% load static %}

{% block title %}Roster{% endblock title %}

{% block content %}

<p class="text-warning">
    {% if previous_week %}
    Previous Week: {{ previous_week|date:"W" }} of year {{ previous_week|date:"Y" }}
    {% endif %}
    {% if previous_week and next_week %}--{% endif %}
    {% if next_week %}
    Next week: {{ next_week|date:"W" }} of year {{ next_week|date:"Y" }}
    {% endif %}
</p>

<div class="fc-toolbar fc-header-toolbar d-flex justify-content-around">  
    <div>
        <a href="{% url 'archive_week' year=current_year week=current_week %}" class="fc-today-button btn btn-primary">today </a>
    </div>

    <div class="">
        <div class="btn-group">
            <a href="{% url 'archive_week' year=2021 week=previous_week|date:'W' %}" class="fc-prev-button btn btn-primary" aria-label="prev">
                <span class="fa fa-chevron-left"></span>
            </a>
            <a href="{% url 'archive_week' year=2021 week=next_week|date:'W' %}" class="fc-next-button btn btn-primary" aria-label="next">
                <span class="fa fa-chevron-right"></span>
            </a>
        </div>
    </div>

    <div class="">
        <div class="btn-group">
            <button type="button" class="fc-agendaWeek-button btn btn-primary ">Week {{ week|date:'W' }}</button>
        </div>
    </div>
</div>

<div class="mt-3">
<table class="table table-bordered">
    <thead>
        <tr class="bg-primary" style="color: white;">
            <th>Educator</th>
            <th>Room</th>
            <th>Mon {{ week_header.Mon }}</th>
            <th>Tue {{ week_header.Tue }}</th>
            <th>Wen {{ week_header.Wen }}</th>
            <th>Thur {{ week_header.Thur }}</th>
            <th>Fri {{ week_header.Fri }}</th>
        </tr>
    </thead>
    <tbody>
        {% for shift in object_list %}
        <tr>
            <th>{{ shift.educator_shift.user.username }}</th>
            <th>{{ shift.educator_shift.room }}</th>
            <td> {% if shift.day_date == week_header.Mon  %} {{ shift.shift_start }} to {{ shift.shift_end }} <br>( L: {{shift.lunch}} ) {% endif %} </td>
            <td> {% if shift.day_date == week_header.Tue  %} {{ shift.shift_start }} to {{ shift.shift_end }} <br>( L: {{shift.lunch}} ) {% endif %} </td>
            <td> {% if shift.day_date == week_header.Wen  %} {{ shift.shift_start }} to {{ shift.shift_end }} <br>( L: {{shift.lunch}} ) {% endif %} </td>
            <td> {% if shift.day_date == week_header.Thur  %} {{ shift.shift_start }} to {{ shift.shift_end }} <br>( L: {{shift.lunch}} ) {% endif %} </td>
            <td> {% if shift.day_date == week_header.Fri  %} {{ shift.shift_start }} to {{ shift.shift_end }} <br>( L: {{shift.lunch}} ) {% endif %} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}